<div class="container-fluid">
  <div class="panel-heading">

    <div class="col-md-12 text-center">
      <%= link_to t('.current_day'), day_info_path, class: 'refresh-link btn btn-primary' %>
      <%= link_to t('.week'), week_info_path, class: 'refresh-link btn btn-default' %>
      <%= link_to t('.all_time'), root_path, class: 'refresh-link btn btn-success' %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel-heading">
      <%= t('.top_users') %>
    </div>

    <div class="panel-body">
      <% if @top_posts.any? %>

        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th><%= User.human_attribute_name('email') %></th>
              <th><%= User.human_attribute_name('posts') %></th>
            </tr>
          </thead>

          <tbody>
            <% @top_posts.each do |element| %>
              <tr>
                <td><%= element[0].email %></td>
                <td><%= element[1] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel-heading">
      <%= t('.top_liked') %>
    </div>

    <div class="panel-body">
      <% if @top_likes.any? %>

        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th><%= User.human_attribute_name('email') %></th>
              <th><%= Post.human_attribute_name('text') %></th>
              <th><%= User.human_attribute_name('likes') %></th>
            </tr>
          </thead>

          <tbody>
            <% @top_likes.each do |element| %>
              <tr>
                <td><%= element[1].email %></td>
                <td><%= element[0].text %></td>
                <td>Likes: <%= element[2] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% end %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel-heading">
      <%= t('.top_average') %>
    </div>

    <div class="panel-body">
      <% if @top_average.any? %>

        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th><%= User.human_attribute_name('email') %></th>
              <th><%= User.human_attribute_name('average') %></th>
            </tr>
          </thead>

          <tbody>
            <% @top_average.each do |user| %>
              <tr>
                <td><%= user[0].email %></td>
                <td><%= user[1] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% end %>
    </div>
  </div>

</div>
